*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: overpass, sans-serif;
}

html{
    scroll-behavior: smooth;
}
.contenedor{
    width: 1200px;
    background-color: rgb(255, 226, 232);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

/* aquí comienza mi título */
h2{
    font-family: libre franklin, sans-serif;
    font-size: 30px;
    color: rgb(202, 0, 98);
    margin-top: 200px;
    margin-left: 257px;
}
p{
    margin-left: 257px;
    margin-bottom: 25px;
    margin-bottom: 40px;
}
header{
    background-color: rgb(202, 0, 98);
    border-radius: 0 0 25px 25px;
    position: sticky;
    top: 0;
    z-index: 5;
}
.menu{
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
    padding-bottom: 30px;
}
.bmenu{
    padding-right: 40px;
}
a{
color: rgb(255, 255, 255);
font-family: mada, sans-serif;
font-size: 25px;
font-weight: 700;
}
a:hover{
    opacity: 80%;
    transition: 0.5s;
}
.logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
    margin-bottom: 50px;
}
h1{
    text-align: center;
    font-size: 75px;
    font-family:mada,sans-serif;
    color:rgb(202, 0, 98);
}
h3{
    text-align: center;
    font-size: 25px;
    font-family: overpass, sans-serif;
    font-weight: 300;
    color: rgb(116, 5, 37);
}
.galeria{
    width: 675px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}
img.imagen{
    margin-right:-4px;
    margin-bottom: -5px;
    margin-top: -5px;
}

/* Aquí edito la apariencia de la imagen grande */

img.selector01{
width: 550px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
margin-bottom: 50px;
}
h1.selectors{
    font-size: 55px;
    margin-top: 60px;
    font-weight: 600;
}
p.info{
    text-align: center;
    margin-left: 256px;
    margin-right: 256px;
    font-size: 18px;
    margin-top: 10px;
    color: rgb(116, 5, 37);
}
a.volver{
color: rgb(202, 0, 98);
display: block;
text-align: center;
font-size: 30px;
margin-top: 25px;
padding-bottom: 55px;
}

/* Edición de la sección "Sobre la Autora" */

article.sobre{
    margin-bottom: 50px;
}
img.mifoto{
    width: 200px;
    display: block;
    margin-top: 180px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
h2.autora{
text-align: center;
margin-top: 5px;
margin-left: auto;
margin-right: auto;
font-size: 65px;
margin-bottom:20px;
font-family: libre franklin, sans-serif;
font-weight:800;
}
article.sobre{
    padding-bottom: 30px;
}
p.sobre{
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
    color: rgb(116, 5, 37);
    font-family: mada, sans-serif;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: solid rgb(202 0 98);}
p.footer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(202, 0, 98);
    font-weight: 900;
    font-size: 15px;
    padding: 22px;
    font-family: mada, sans-serif;
    color: rgb(255, 255, 255);
    width: 1160px;
}
/* Aquí están los botones de redes sociales */
div.redes{
    width: 60px;
    height: 255px;
    background-color: rgb(202, 0, 98);
    position: fixed;
    top: 250px;
    left: 0px;
    border-radius: 13px;
}
img.fotitor{
    width: 35px;
    padding-top: 10px;
}
li{
    list-style: none;
    text-align: center;
    padding: 5px;
}